.ColorControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
}

.ColorBlock {
  height: 10rem;
  width: 100%;
  border-radius: 2px;
}

.ControlsContainer {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 1rem;
  padding: 1rem;
}

.InfoLine {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.HexInput {
  width: 5.5rem;
  height: 2rem;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  text-align: center;
  border-radius: 2px;
  border: none;
}

.ContrastRatio :first-child {
  font-weight: bold;
}

.ContrastRatio :last-child {
  color: rgba(255, 255, 255, 0.5);
}

.Sliders {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
