.ColorComponentControl {
  display: grid;
  grid-template-columns: min-content auto 4.5rem;
  column-gap: 1rem;
}

input[type="number"] {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  border-radius: 2px;
  border: 1px solid transparent;
  padding-left: 5px;
}

/* Credit to this article for helping me get the sliders styled:
 * https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/ */

/* reset range input styles */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

/* track */
input[type="range"]::-webkit-slider-runnable-track {
  background: #ebebeb;
  height: 0.5rem;
  border-radius: 2px;
}
input[type="range"]::-moz-range-track {
  background: #ebebeb;
  height: 0.5rem;
  border-radius: 2px;
}

/* thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.7rem;
  width: 1rem;
  background-color: #262626;
  margin-top: calc(0.25rem - 1.7rem / 2);
  border-radius: 2px;
  border: 1px solid lightgray;
}
input[type="range"]::-moz-range-thumb {
  /* -webkit-appearance: none; */
  height: 1.7rem;
  width: 1rem;
  background-color: #262626;
  /* margin-top: calc(0.25rem - 1.7rem / 2); */
  border-radius: 2px;
  border: 1px solid lightgray;
}
