.ColorControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.ColorBlock {
  width: 100%;
  height: 10rem;
}

.ControlsContainer {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 0.5rem;
  padding: 0.5rem 0;
}

.InfoLine {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
}

.HexInput {
  width: 3.5rem;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

.ContrastRatio :first-child {
  font-weight: bold;
}

.ContrastRatio :last-child {
  color: rgba(255, 255, 255, 0.5);
}
